@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Goliath National Bank</h1>
    <p class="lead">Welcome to an Online Banking Application. Use this serivce to create customer accounts, initialize loans, and manage transactions.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Begin by registering as a new Authorized User or Login.
        </p>
    </div>
</div>